@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap");

.chat_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
}

.chatDialog_container {
  display: flex;
}

.user {
  align-self: flex-end;
  flex-direction: row-reverse;
}

.assistant {
  /* justify-content: flex-start; */
}

.chatDialog {
  padding: 11px;
  border-radius: 12px;
  max-width: 85%;
  word-wrap: break-word;
  position: relative;
  margin-top: 20px;
  font-family: "Alegreya Sans", "Roboto", sans-serif;
  font-size: 14px;
}

.userBubble {
  background-color: #1976d2;
  color: white;
  border-top-right-radius: 0;
}

.assistantBubble {
  background-color: #f1f1f1;
  border-top-left-radius: 0;
}
