* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
  font-size: inherit;
}

h3 {
  margin: 0;
  font-weight: normal;
  font-size: 1.5rem;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
